---
import LegalDocumentPage from "../../components/LegalDocumentPage.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getLegalDocument } from "../../data/legalDocuments";

const document = getLegalDocument("driver-terms");
---

<BaseLayout title={`${document.title} | EDD Hub`} description={document.summary} path="/legal/driver-terms">
  <main>
    <LegalDocumentPage document={document} />
  </main>
</BaseLayout>
